@import url('https://fonts.googleapis.com/css2?family=Kanit&family=Prompt:wght@300;400&display=swap');
*{
    font-family: 'Prompt', sans-serif;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--background);
    color:var(--text-primaty);
}

.head-01{
    font-size: 60px;
    color: var(--text-color);
    margin-bottom: 0;
    text-align: center;
}
.head-02{
    font-size: 20px;
    color: var(--text-color-second);
    font-weight: normal;
}

.title-group{
    text-align: center;
    display: flex;
    flex-direction: column;
}
section{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center; 
    flex-direction: column;
}

.section-container{
    border: 1px solid var(--primmry-color);
    border-radius: 10px;
    /* box-shadow: var(--box-shadow); */
    padding: 10px 20px;
    background-color: var(--background);
    margin: 25px;
    cursor: pointer;
}

.section-container :hover{
    box-shadow: var(--box-shadow);
    transition: 0.5s;
}
img{
    width: 200px;
    height: 200px;
}